<div class="topbox">
	<ul>
    	<li><%= link_to t("general.home"), fronts_path %></li> | 
		<li>
		  <%= link_to 'en', setlocale_path('en') %>
	    | <%= link_to 'fi', setlocale_path('fi') %>
		</li>
    </ul>
	<div class="cl"></div>
</div>
<div class="cuponbox">
    <div class="cuponbox-left"><%= link_to image_tag("webAdvisor.gif", :alt => t("general.web_advisor")), fronts_path %></div>
    <div class="cl"></div>
</div>
	
