    		<div class="topbox">

		        	<ul>
		            	<li><%= link_to t("general.home"), fronts_path %></li>
		            </ul>
		        <div class="cl"></div>
            </div>
                <div class="cuponbox">
				    <div class="cuponbox-left"><%= link_to image_tag("cupon-logo2.png"), fronts_path %></div>
				    <div class="cl"></div>
	            </div>
				
