			
            <div class="footer">
            	<div class="footerleft"><%= link_to "Home", fronts_path %></div>
                <div class="footerright">Copyright ToolFactor 2012. All rights reserved.</div>
            <div class="cl"></div>
            </div>
